	! special
*.foreground:   #757664
*.background:   #052621
*.cursorColor:  #dddddd

	! black
*.color0:       #000002
*.color8:       #000002

	! white
*.color1:       #e0c2c5
*.color9:       #e0c2c5

	! dark_slate_blue
*.color2:       #302350
*.color10:      #302350

	! rosy_brown
*.color3:       #bb6493
*.color11:      #bb6493

	! old_rose
*.color4:       #85447e
*.color12:      #85447e

	! dark_slate_blue_v2
*.color5:       #563871
*.color13:      #563871

	! redish_rose
*.color6:       #f4618b
*.color14:      #f4618b

	! bright_purple
*.color7:       #a107f9
*.color15:      #a107f9


! Rofi
rofi.color-enabled: true
rofi.color-window: #302350, #563871, #85447e
rofi.color-normal: #85447e, #e0c2c5, #bb6493, #e0c2c5, #302350
rofi.color-active: #f4618b, #302350, #f4618b, #302350, #302350
rofi.color-urgent: #07322B, #747661, #07322B, #747661, #07322B

! URxvt
	! URxvt font, it will try to use them in order
URxvt*font:		xft:Source Code Pro:pixelsize=14, xft:Noto Emoji:pixelsize=14
URxvt*geometry:		112x22

	! Hide scrollbar
URxvt*scrollBar:	false
URxvt*scrollBar_right:	true
URxvt*scrollColor:	#000000

URxvt.internalBorder:	1
URxvt.letterSpace:	-1
URxvt*depth:		32
	! Allow transparency (Compton needed)
URxvt*transparent:	true
URxvt*shading:		10
	! Background color (Overwritten by pywal)
URxvt*background:	rgba:0500/2600/2100/E500

URxvt.iso14755:		False

	! Copy/paste to clipboard
!URxvt.perl-ext-common: selection-to-clipboard
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.perl-ext-common:	default,clipboards

	! Clickable URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt*urlLauncher:	firefox

	! Coloured URLs
URxvt.matcher.rend.0: Uline Bold #07322B

	! Allowing color in urxvt
URxvt*.termName: rxvt-unicode-256color

Xft*dpi:		96
Xft*antialias:		true
Xft*hinting:		full

! Xterm
xterm*dynamicColors::	true
xterm*background::	 black
xterm*foreground::	white
xterm*utf8::		2
xterm*eightBitInput::	true
xterm*saveLines::	32767
xterm*scrollTtyKeypress::	true
xterm*scrollTtyOutput::		false
xterm*scrollBar::		false
xterm*loginShell::		true
xterm*faceName::		Monospace:pixelsize=11
xterm*jumpScroll::		true
xterm*multiScroll::		true
xterm*toolBar::			false